.DS_Store
**/.DS_Store

# Editor / tool logs
**/excalidraw.log

# Office temp files
**/~$*.docx

# Local build artifacts / binaries
**/*_test
**/hello
**/*.o
**/*.out

# Local builds for labs
**/wk3_threaded

# Lab 1 local binaries
**/q1_O0
**/q1_O2
**/q1_O3

# Local build directories
**/build/

# Local reference material (keep untracked)
DPS921/Gerassimos Barlas - Multicore and GPU programming_ an integrated approach (2022, Morgan Kaufmann Publishers) - libgen.li.pdf
